<Avatar
        @title="{{@username}}'s avatar"
  {{! This won't work yet! We need to update the substring helper }}
        @initial={{substring @username start=0 end=1}}
        @isActive={{@userIsActive}}
        class="{{if @isCurrentUser "current-user"}}"
/>
<section>
  <Username
          @name={{@username}}
          @localTime={{@userLocalTime}}
  />

  {{yield}}
</section>